body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    flex-wrap: wrap;
}

.calculator {
    padding: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: #C8C9C8;
    border: 5px #A5A6A5 solid;
    border-radius: 10px;
}

.screen {
    height: 55px;
    width: 100%;
    background-color: #8ECD94;
    text-align: end;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px #A5A6A5 solid;
}

#old-screen, #current-screen {
    width: 100%;
    padding: 0 7.5px 0 0;
    height: 50%;
    align-self: center;
}

#old-screen {
    font-size: 0.9rem;
}

#current-screen {
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.btn {
    width: 23%;
    padding: 15px 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 2px #A5A6A5 solid;
    border-radius: 5px;
    background-color: #e3e2e2;
}

.btn:hover {
    background-color: #cdcccc;
}

.btn:active {
    background-color: #e3e2e2;
}

.btn[data-operator]{
    background-color: #f6f8af;
}

.btn[data-operator]:hover {
    background-color: #fcff96;
}

.btn[data-operator]:active {
    background-color: #f6f8af;
}

#equal-button {
    background-color: #a4a1f1;
}

#equal-button:hover {
    background-color: #aaa8ff;
}

#equal-button:active {
    background-color: #a4a1f1;
}

#clear, #delete {
    width: 49%;
}

#clear {
    background-color: #ff918f;
}

#clear:hover {
    background-color: #ff7876;
}

#clear:active {
    background-color: #ff918f;
}

#delete {
    background-color: #97a3ff;
}

#delete:hover {
    background-color: #7887ff;
}

#delete:active {
    background-color: #97a3ff;
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}